input, textarea {
	width: 100%;
	padding: 0.5em 0.5em;
	position: relative;
	color: col(dark, light);
	font-family: fnt(primary);
	background-color: col(bg);
	border: none;
	border-bottom: 2px solid col(fg);
	border-radius: 0.1em;
	&:focus {
		border-bottom: 2px solid col(primary);
	}
}
select {
	padding: 0.5em;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border: 0;
	border-right: 2em solid col(primary);
	border-radius: 0.5em;

	appearence: none;
}

.btn {
	display: inline-block;
	padding: 0.5em 1em;
	color: col(primary, light);
	background-color: col(primary);
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
	&:hover {
		color: col(primary, light);
	}
}
