.slide {
	&-enter {
		opacity: 0;
		&-active {
			transition: opacity 0.2s;
		}
	}
	&-leave {
		&-active {
			position: absolute;
			transition: opacity 0.2s;
			opacity: 0;
		}
	}
	&-move {
		transition: transform 0.5s;
	}
}

.fade {
	&-enter-active, &-leave-active {
		transition: all 0.15s ease;
	}

	&-enter, &-leave-to {
		transform-origin: left;
		opacity: 0;
	}
	&-enter {
		transform: translateX(-2em);
	}
	&-leave-to {
		transform: translateX(2em);
	}
}
