$fonts: (
  primary: (
    title: 'Rubik',
    body: 'Muli',
    fallback: sans-serif
    )
);
$colors: (
  primary: (
    base: #00A359
  ),
  bg: (
    dark: #231D23,
    base: #212F42,
  ),
  fg: (
    light: #DAEEEE,
    base: #EEEFFF
  ),
  success: (
    base: #00BB7E
  ),
  caution: (
    base: #FFBE00
  ),
  failure: (
    base: #FF7769
  )
);
